<!-- TODO: add animation based on time (e.g. after 1 second, the next screen of the tutorial will be shown)
See here: https://docs.angularjs.org/api/ngAnimate/service/$animateCss -->
<!-- TODO: ÜBERSPRINGEN and WEITER don't do anything yet -->

<!-- app tutorial -->
<!-- <script id="templates/intro.html" type="text/ng-template"> -->
<ion-view view-title="Tutorial">
    <ion-content class="padding">

        <ion-slide-box on-slide-changed="slideChanged(index)" class="card">
            <ion-slide>
                <div class="item item-divider">
                    Danke, dass du unsere App verwendest!
                </div>
                <div id="logo">
                    <img src="http://code.ionicframework.com/assets/img/app_icon.png">
                </div>
                <div><p>
                    Bist du vor Kurzem in die Staaten gezogen und hast Mühe mit den komischen Masseinheiten?
                </p>

                    <p>
                        Mit unserer App ist das Umrechnen ein Kinderspiel!
                    </p>
                </div>
            </ion-slide>


            <ion-slide>
                <div class="item item-divider">
                    So funktionierts:
                </div>

                <div id="list">
                    <ul>
                        <li><p>Schritt 1: Gewünschte Einheit wählen</p></li>
                        <li><p>Schritt 2: Wert eingeben</p></li>
                        <li><p>Schritt 3: Ausrechnen!</p></li>
                    </ul>
                </div>
            </ion-slide>


            <ion-slide>
                <div class="have-fun">
                <h3>Viel Spass!</h3>

                <p>
                    Take care!
                </p>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>


<!-- <script id="templates/main.html" type="text/ng-template">
  <ion-view hide-back-button="true" view-title="Awesome">
    <ion-content class="padding">
      <h1>Main app here</h1>
      <button class="button" ng-click="toIntro()">Tutorial wiederholen</button>
    </ion-content>
  </ion-view>
</script> -->
