<ion-view view-title="Einheitenumrechner">
  <ion-content class="padding">

    <div>

      <label class="item item-input">
        <span class="input-label" id="eingabe">Eingabe</span>
        <input type="number" ng-model="model.eingabe">
      </label>

    </div>
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Von
        </div>
        <select>
          <option>Meter</option>
          <option selected>Kilometer</option>
          <option>Centimeter</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Zu
        </div>
        <select>
          <option>Inch</option>
          <option selected>Foot</option>
          <option>Mile</option>
        </select>
      </label>

    </div>

    <div>

      <button class="button button-dark" ng-click="berechnen()">
        Berechnen
      </button>
    </div>
    <div>
      <label class="item item-output">
        <span class="output-label" id="ausgabe">Ausgabe</span>
        <input type="number" ng-model="model.ausgabe">
      </label>
    </div>



  </ion-content>
</ion-view>
