/* Empty. Add your own CSS if you like */


* {
font-family: Roboto, Helvetica, sans-serif;
}

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}



/* - - - - - - - - - - - TUTORIAL  - - - - - - - - - - - */

.slider {
  height: 100%;
}

.slider-slide {
  color: #000;
  background-color: #fff;
  text-align: center;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: auto;
  margin: auto;
}

#list ol li {
  text-align: left;
  list-style: decimal;
  margin: auto;
}

#list ul {
  padding-top: 20px;
}

.button.ng-hide {
  display: none;
}

ion-slide div.card {
  width: 95%;
  align-items: center;
}

div.scroll {
  height: 370px;
}

.have-fun {
  padding-top: 80px;
}

/* - - - - - - - - - - - TUTORIAL END - - - - - - - - - - - */
